<%- partial('_partial/head') %>
<body>
<!--[if lt IE 9]>
<div class="ie_warn">
    <div>你的浏览器版本过低，建议你升级IE或更换其他浏览器! &nbsp;&nbsp;你可以试试<a href="http://rj.baidu.com/soft/detail/14744.html" target="_blank">chrome浏览器</a>或
        <a href="http://www.firefox.com.cn/download/" target="_blank">firefox浏览器</a>等支持HTML5的浏览器</div>
</div>
<![endif]-->
<header>
    <%- partial('_partial/header') %>
</header>
<div id="container">
    <%- body %>
    <%if(is_home() || is_post()){%>
    <%-partial('_partial/sidebar',{item: page,table: false}) %>
    <%}%>
</div>
<footer id="page-footer"><%- partial('_partial/footer') %></footer>
<%- partial('_partial/after_footer') %>
</body>
</html>